[submodule "u-boot"]
	path = u-boot
	url = ssh://git@10.10.10.1:2222/cvondrac/u-boot-bc2020.git
[submodule "ti-linux-kernel"]
	path = ti-linux-kernel
	url = ssh://git@10.10.10.1:2222/cvondrac/ti-linux-kernel-v4.19.69-bc2020.git
