[submodule "u-boot"]
	path = u-boot
	url = https://github.com/cvondratek/u-boot-bc2020.git
[submodule "ti-linux-kernel"]
	path = ti-linux-kernel
	url = https://github.com/cvondratek/ti-linux-kernel-v4.19.69-bc2020.git
